{% extends 'base.html' %} {% block content %}
<main class="container card border-dark my-5 py-5 px-3 bg-body-tertiary shadow">
	<section class="card-body text-secondary">
		<h1 class="display-1 fw-semibold text-center text-success-emphasis">
			Django Tasks
		</h1>
		<hr />

		<p class="container card-text px-3">
			Este proyecto de práctica de Python utilizando Django es un ejemplo de
			aplicación web que utiliza una base de datos SQLite3 y la librería Jinja
			para generar plantillas HTML. La aplicación cuenta con un CRUD (acrónimo
			en inglés de "Crear, Leer, Actualizar y Eliminar") que permite al usuario
			agregar, modificar, eliminar y leer las tareas ("tasks") creadas en la
			aplicación.
		</p>
		<p class="container card-text px-3">
			La base de datos SQLite3 es una base de datos relacional que se integra
			fácilmente con Django, lo que facilita el desarrollo, en produccion se
			utilizara PostgreSQL desplegado en render. Además, la librería Jinja es
			una herramienta muy útil para generar plantillas HTML de manera dinámica
			en función de los datos almacenados en la base de datos.
		</p>
		<p class="container card-text px-3">
			El CRUD de la aplicación permite a los usuarios crear nuevas tareas,
			actualizar las tareas existentes, eliminar tareas no deseadas y ver las
			tareas existentes en la base de datos. Con esta funcionalidad, los
			usuarios pueden manejar sus tareas de manera eficiente y mantener un
			seguimiento de su progreso.
		</p>
		<p class="container card-text px-3">
			En resumen, este proyecto de práctica de Python con Django es una
			excelente manera de aprender sobre el uso de bases de datos SQLite3 y
			librerías como Jinja para crear aplicaciones web interactivas y dinámicas.
			Además, la implementación de un CRUD proporciona una funcionalidad
			esencial para el manejo de datos en cualquier aplicación.
		</p>

		{% if user.is_authenticated%}
		<div class="text-center mt-5">
			<a
				class="btn btn-dark py-2 px-4 shadow"
				href="/tasks"
			>
				Ir a Tasks
			</a>
		</div>
		{% else %}
		<div class="text-center mt-5">
			<a
				class="btn btn-dark py-2 px-4 mx-5 shadow"
				href="/signin"
			>
				Signin
			</a>
			<a
				class="btn btn-dark py-2 px-4 mx-5 shadow"
				href="/signup"
			>
				Signup
			</a>
		</div>
		{% endif %}
	</section>
</main>
{% endblock %}
