{% extends 'base.html' %} {% block content %}
<h1>Home 🏠</h1>
<hr />

<p>
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, ipsa et
	voluptates ad est autem officia at tempora voluptatum repellendus! Fugiat sed
	earum sequi autem asperiores illum a adipisci consectetur? Perspiciatis vitae
	adipisci ut nihil voluptatem minima sed quam accusantium? Soluta ducimus
	recusandae nemo dolorum. Vitae commodi soluta nobis possimus consectetur
	quasi. Dolorem libero recusandae, reprehenderit animi voluptate quo in saepe
	aut adipisci tempora explicabo. Rem eveniet libero temporibus distinctio.
</p>
{% endblock %}
