{% extends 'base.html' %} {% block content %}
<main class="container my-5">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<h2 class="display-4 fw-semibold text-center text-success-emphasis">
				Tareas completadas
			</h2>
			<hr />

			<ul class="list-group mt-5">
				{% for task in tasks %}
				<li class="list-group-item border-dark bg-info-subtle shadow">
					<a
						class="nav-link"
						href="{% url 'task_detail' task.id %}"
					>
						<header class="d-flex justify-content-between align-items-center">
							<div>
								{% if task.important %}
								<h3 class="fs-4 text-danger-emphasis text-start text-uppercase">
									{{task.title}} ⚠️
								</h3>
								{% else %}
								<h3 class="fs-4 text-start">{{task.title}}</h3>
								{% endif %}
								<p class="text-start">{{task.description}}</p>
							</div>
							<div class="text-end py-2">
								<strong class="text-end text-secondary"
									>{{task.user.username}}</strong
								>
								<p class="fw-lighter">{{task.datecompleted}}</p>
								<p class="fw-bolder">Realizada</p>
							</div>
						</header>
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</main>

{% endblock %}
